*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.li{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(9, 9, 45);
    color: white;
    font-size: 30px;
}
.li :hover{
    color: red;
}
.main{
    margin-top: 20px;
    padding: 90px;
    border: 2px solid black;
}
.footer{
    position: absolute;
    bottom: 0%;
    border: 2px solid black;
}
img{
    height: 200px;
    width: 200px;
}
/* BACKGROUND METHOD */
/* div{
    height: 100px;
    width: 100px;
    background-image: url(./components/images/img.jpg);
} */